app_name=SSA
debug=false
database_url=sqlite+aiosqlite:///ssa.db
# openssl rand -base64 32可生成your-production-secret-key
jwt_secret_key=your-production-secret-key
jwt_algorithm=HS256
jwt_expire_minutes=60
